@model LibraryMVC.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Customer" asp-action="Index">List of customers</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details customer</li>
    </ol>
</nav>

<!-- Breadcrumbs end -->
<div class="container container-fluid mt-5 container-white">
        <div class="text-center mt-2">
            <h2>Details customer</h2>
            <hr />
        </div>

        <div class="row my-3 mx-3">
            <div class="col-md-5 mt-4">
            <img 
                src="https://images.unsplash.com/photo-1544185310-0b3cf501672b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" 
                class="frame-img" />
            </div>
            <dl class="col-md-7">
                <dt class="col-md-12">
                    <br />
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-md-12">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-md-12">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-md-12">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-md-12">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-md-12">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-md-12">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-md-12">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <div class="col-md-12 mt-4">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CustomerId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.CustomerId">Delete</a>
                </div>
            </dl>
        </div>
</div>
