@using LibraryMVC.Models.ViewModels
@model IEnumerable<LibraryMVC.Models.ViewModels.BorrowedBookViewModel>

@{
    ViewData["Title"] = "Borrowed books";
}

<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="BorrowedBookList" asp-action="Index">Search</a></li>
        <li class="breadcrumb-item active" aria-current="page">My borrowed books</li>
    </ol>
</nav>
<!-- Breadcrumbs end -->

<div class="container mt-5">
    <div class="container-white">
        <h1>Customers</h1>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BorrowedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Returned)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReturnedDate)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Title)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Author)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Language)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.BorrowedDate)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </th>
                        <th>
                            @if (item.Returned == true)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                width="26" 
                                height="26" 
                                fill="green" 
                                class="bi bi-journal-check ms-5" 
                                viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                </svg>
                            }
                            else
                            {
                                
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                width="26" 
                                height="26" 
                                fill="red" 
                                class="bi bi-journal-x ms-5" 
                                viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z" />
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                                </svg>
                            }
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.ReturnedDate)
                        </th>
                    </tr>
                }
        </table>
        </tbody>
    </div>
</div>
